.square{
    background-color: red;
    height: 300px;
    width: 300px;
    margin-right: 10px;
    float: left;
}

#circle{
    background-color: red;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    float: left;
}